.green_box {
    width: 100%;
    border: 10px solid lightgreen;
    border-radius: 0.75em;
    margin: 5px;
    padding: 50px;
    background-color: lightgray;
}

.green_box_heading, .green_box_desc {
    text-align: center;
}

.green_box_desc {
    padding-top: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.blue_box, .red_box {
    width: 49%;
    height: 65vh;
}

.red_box {
    border: 10px solid red;
    border-radius: 0.75em;
}

.blue_box {
    border: 10px solid blue;
    border-radius: 0.75em;
}

.purple_box {
    border: 10px solid purple;
    border-radius: 0.75em;
    margin: 3px 10px;
}

.purple_box_heading_container {
    padding: 10px;
}

.yellow_box {
    border: 10px solid yellow;
    border-radius: 0.75em;
    margin: 8px 10px;
    height: 87%;
}

.forms {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3 {
    width: 50%;
}

.input_btn {
    width: 50%;
}

.desc_textarea {
    width: 50%;
    margin-bottom: 15px;
}

.desc_textarea label {
    margin-bottom: 10px;
}